body, html {
    margin: 0;
    background-color: #FFF8EC;
}

h1, h2 {
    font-family: 'Inter', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}